<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Project #02: To-Do List</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="bootstrap.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Quicksand:300,400" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
</head>

<body>

  {{{ body }}}

</body>

</html>
