<div class="addTodos">
 <h1> {{ title }} </h1>
 <input class="new" type="text" placeholder="Add task">
 <button class="add" type="submit">Enter</button>
</div>

<div class="showTodos">
 <h1> {{ header }} </h1>
 <ul class="todos">
  {{!-- <li> to-dos rendered here --}}
 </ul>
</div>

