<div id="container" class="section">

  <h1> {{ title }} </h1>
  <hr>

 <div class="showTodos section">
 </div>

 <div class="addTodos section">
  <h1> {{ header }} </h1>
  <hr>
  <input type="text" class="new form-control" placeholder="Add to-do item" name='todo'>
  <button type="button" class="add btn btn-default btn-xs">Enter</button>
 </div>

</div>


  <template id="todo-template">
    <ul class="todos">
    \{{#each todos}}
    <li>\{{ message }}</li>
    \{{/each}}
    </ul>
  </template>
