<div id="container">
 <h1> {{ title }} </h1>

 <input class="new" type="text" placeholder="Add task">

 <button class="add" type="submit">Enter</button>

 <div class="todo-list">
  <ul class="todos">
   {{!-- <li> to-dos rendered here --}}
  </ul>
 </div>

</div>
