<div class="container section">

  <div class="main section">
    <h1> {{ title }} </h1>
    <hr>
    <ul>

      <li>
        <button class="x-btn">x</button>
        Story #1
      </li>

      <li>
        <button class="x-btn">x</button>
        Story #2
      </li>

      <li>
        <button class="x-btn">x</button>
        Story #3
      </li>

    </ul>

  </div>

</div>
