<div class="container section">

  <div class="section">
    <h1> {{ title }} </h1>
    <hr>
    <ul class="stories">

      <li>
        <button class="x-btn">x</button>
        <span class="story">As a user, the client can add tasks to the to-do list so that they can keep track of the things they need to do.</span>
      </li>
      <br>
      <li>
        <button class="x-btn">x</button>
        <span class="story">When a user completes a task, they are able to click the 'x' button next to the task and remove them from the list, in order to maintain an updated list.</span>
      </li>
      <br>
      <li>
        <button class="x-btn">x</button>
        <span class="story">If a user needs to update or modify a to-do item, they can click directly on the item and press enter to update the task, because tasks can sometimes change.</span>
      </li>
      <br>
      <li>
        <button class="x-btn">x</button>
        <span class="story">Users can either press the enter key or click the 'Enter' button in order to add an item to the list, which provides for better user experience.</span>
      </li>

    </ul>

  </div>

</div>
