<div class="container section">
  <div class="main">
    <h1> {{ title }} </h1>
  </div>
  <hr>
  <div class="section">
    <ul>
      <li>
        <button class="x-btn">x</button>
        <img class="wf-img" src="http://i.imgur.com/eICSWW5.jpg?2">
      </li>
      <br>
      <li>
        <button class="x-btn">x</button>
        <img class="wf-img" src="http://i.imgur.com/mvwl9MB.jpg?2">
      </li>
      <br>
      <li>
        <button class="x-btn">x</button>
        <img class="wf-img" src="http://i.imgur.com/muZabGo.jpg?2">
      </li>
      <br>
      <li>
        <button class="x-btn">x</button>
        <img class="wf-img" src="http://i.imgur.com/OGKkQVl.png?1">
      </li>
    </ul>
  </div>
</div>
