<div class="container section">

  <div class="section">
    <h1> {{ title }} </h1>
    <hr>
    <ul>

      <li>
        <button class="x-btn">x</button>
        <img src="https://s-media-cache-ak0.pinimg.com/236x/b5/c7/0f/b5c70f8b411b3f76fb6619cad8b4c036.jpg">
      </li>

      <li>
        <button class="x-btn">x</button>
        <img src="https://s-media-cache-ak0.pinimg.com/236x/b5/c7/0f/b5c70f8b411b3f76fb6619cad8b4c036.jpg">
      </li>

      <li>
        <button class="x-btn">x</button>
        <img src="https://s-media-cache-ak0.pinimg.com/236x/b5/c7/0f/b5c70f8b411b3f76fb6619cad8b4c036.jpg">
      </li>

    </ul>

  </div>

</div>
