body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  background-color: turquoise;
  color: white;
  margin: 20px;
}
h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 46px;
  font-weight: 700;
  color: salmon;
  margin: 4px;
  padding: 2px;
}
.section {
  float: left;
  background-color: white;
  padding: 10px;
}
.container {
  border-radius: 6px;
  width: 1000px;
  margin-left: 200px;
  min-height: 700px;
}
.main {
  width: 640px;
  display: inline-block;
  margin-left: 10px;
}
.sidebar {
  width: 330px;
  display: inline-block;
}
li {
  font-size: 20px;
  line-height: 2.2;
  /*text-transform: capitalize;*/
  color: darkgray;
  list-style-type: none;
}
form {
  display: inline-block;
}
.delete {
  margin-right: 40px;
  color: lightpink;
  background-color: white;
  border-style: none;
}
.new {
  width: 300px;
  margin: 5px;
}
.btn {
  display: inline-block;
  margin: 14px 0 14px 0;
  color: gray;
  margin: 5px;
}


