body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  background-color: turquoise;
  color: darkgray;
  margin: 20px;
}
header {
  width: 1000px;
  margin-left: 200px;
}
.container {
  border-radius: 6px;
  width: 1000px;
  margin-left: 200px;
  min-height: 700px;
}
h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 46px;
  font-weight: 700;
  color: salmon;
  margin: 16px 0 0 10px;
  padding: 2px;
}
.section {
  float: left;
  background-color: white;
  padding: 10px;
}
.main {
  width: 630px;
  display: inline-block;
  margin-left: 10px;
}
.sidebar {
  width: 330px;
  display: inline-block;
}
li {
  font-size: 20px;
  line-height: 1.2;
  padding: 4px;
  color: darkgray;
  list-style-type: none;
}
form {
  display: inline-block;
}
.todos {
  display: inline-block;
  width: 480px;
  text-transform: capitalize;
}
.todos:focus {
  outline: none;
}
.story {
  display: inline-block;
  line-height: 1;
  width: 740px;
  white-space: wrap;
}
.story-pusheen {
  float: right;
}
.x-btn {
  margin-right: 40px;
  color: lightpink;
  background-color: white;
  border-style: none;
  text-transform: lowercase;
}
.x-btn:hover {
  color: turquoise;
}
.x-btn:focus {
  outline: none;
}
.new {
  width: 300px;
  margin: 5px;
}
.btn {
  display: inline-block;
  margin: 14px 0 14px 0;
  color: gray;
  margin: 5px;
  text-transform: capitalize;
}
.btn:hover {
  color: white;
  background-color: gold;
  border-style: none;
}
.btn:focus {
  color: white;
  background-color: gold;
  border-style: none;
  outline: none;
}
.wf-img {
  margin-left: 66px;
}
